<div class='jumbotron center'>
	<h1>This guy is sooo lazy.</h1>
	<p> lol   </p>
	<%= link_to 'OMG!', '#', class:'btn btn-default btn-lg' %>
	<%= link_to 'Me2!', '#', class:'btn btn-primary btn-lg' %> 
</div>
